.App {
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
}

.tabheader {
  display: flex;
  align-items: center;
}

.tab {
  background: #d4d4d4;
  padding: 4px 16px;
  margin-left: 4px;
}

.tab-selected {
  border-bottom: 2px solid #000000;
}

.details {
  text-align: left;
  padding: 10px 20px;
}
